/* styles.css - JavaFX CSS */
.root {
    -fx-background-color: #DDC56E;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #6cb02a;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-min-width: 0;
    -fx-pref-width: -1;
    -fx-max-width: 500px;
}

.selected-file {
    -fx-padding: 10px 24px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #6cb02a;
    -fx-wrap-text: true;
}

.start-compressing {
    -fx-padding: 10px 28px;
    -fx-font-size: 20px;
}

.vbox {
    -fx-spacing: 15px;
    -fx-alignment: center;
}


.combo-box {
    -fx-background-color: #7BBD44;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFF;

}

/* current selection */
.combo-box .list-cell {
    -fx-text-fill: #FFF;

}

/* popout list of all selections */
.combo-box .list-view .list-cell {
    -fx-text-fill: #000 ;

}

.grid-pane {
    -fx-prompt-text-fill: #EEE;

}

.text-field {
    -fx-background-color: #7BBD44;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #EEE;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-min-width: 0;
    -fx-max-width: 550px;
}
.file-chooser {
    -fx-background-color: #6cb02a
}

.compress-video {
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #32832F;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #1A4727;
}

/* white rounded card that holds the buttons/controls */
.white-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-padding: 25;            /* inner spacing */
    -fx-spacing: 15;            /* spacing between children */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.06), 8, 0, 0, 2); /* subtle shadow */
    -fx-max-width: 550px;       /* control how wide the card can grow */
    -fx-min-width: 500px;       /* ensures a decent minimum size */
}




