/* styles.css - JavaFX CSS */
.root {
    -fx-background-color: #DDC56E;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #6cb02a;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-min-width: 0;
    -fx-pref-width: -1;
    -fx-max-width: 500px;
}

.selected-file {
    -fx-padding: 10px 24px;
    -fx-background-radius: 6px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: #6cb02a;
    -fx-wrap-text: true;
}

.start-compressing {
    -fx-padding: 10px 28px;
    -fx-font-size: 20px;
}

.vbox {
    -fx-spacing: 15px;
    -fx-alignment: center;
}


.combo-box {
    -fx-background-color: #7BBD44;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
}

/* current selection */
.combo-box .list-cell {
    -fx-text-fill: #FFF;
}

/* popout list of all selections */
.combo-box .list-view .list-cell {
    -fx-text-fill: #000 ;

}

.grid-pane {
    -fx-prompt-text-fill: #EEE;

}

.text-field {
    -fx-background-color: #7BBD44;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #EEE;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-min-width: 0;
    -fx-max-width: 550px;
}
.file-chooser {
    -fx-background-color: #6cb02a
}

.compress-video {
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #32832F;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #1A4727;
}


.white-box {
    -fx-background-color: white;
    -fx-padding: 30px 40px;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.2, 0, 8);
    -fx-max-width: 700px;
}


.neon-text {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}



